@use 'vars'

body
  font-family: vars.$fonts
  margin: 0
  padding: 0
  box-sizing: border-box

.application
  width: 1024px
  display: flex
  border: 2px solid black
  height: 728px
  & > div
    padding: 16px
    display: flex
  &__navigation
    width: 25%
    border-right: 1px solid lightgray
    overflow: auto
  &__cocktail-view
    width: 75%